.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  border-radius: 5px;
  padding: 2rem;
  background-color: #212121;
  width: 30em;
}

.close {
  cursor: pointer;
}

.modalHeader {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
}

.modalContent {
  margin-bottom: 2rem;
}

.modalFooter {
  display: flex;
  justify-content: space-evenly;
}
