.tasksContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2rem;
  background-color: #212121;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  overflow-y: auto;
  height: 100%;
}

.tasksContainer::-webkit-scrollbar {
  width: 0.5rem;
}

.tasksList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0;
}
