.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.inputControl {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  width: 100%;
}

.inputControlRow {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.inputControl label {
  font-size: 1rem;
  width: 100%;
}

.inputControl input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  background-color: #212121;
  color: #ffffff;
}

.inputControl textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  background-color: #212121;
  color: #ffffff;
}

.inputControl input:focus {
  outline: none;
}

.createTask {
  padding: 0;
}

.submitButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #5941a9;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.5s ease;
}
